<!--INICIO DO CONTEUDO-->
<section class="content-header"></section>

<section class="content">
  <section class="invoice">
    <!--
      Quando trabalhamos com form, uma das primeiras coisas a se fazer é
      desabilitar a validação de formulários do browser, por que cada browser
      tem uma forma de validação diferente, isso evita que o usuário tenha
      experiencias diferente ao usar Safari, Chrome, Edge.

      FORM:
      VALID | INVALID => Se o valor do campo está de acordo ou não com as regras de navegação
      PRISTINE | DIRTY => PRISTINE representa o estado inicial do campo ou do form, uma
      vez que o usuário digita no campo ele se torna DIRTY e não volta mais
      TOUCHED | UNTOUCHED => TOUCHED indica quando o usuário entra no campo

      Para saber em qual estado o campo se encontra a gente precisa obter uma referência
      para a diretiva ngModel do campo e a gente faz isso com variável de referencia
      uma vez feito isso vc pode usar em qualquer lugar para indicar o status do campo

      VALIDAÇÕES:
       - REQUIRED
       - PATTER - REGEX
       - MINLENGTH E MAXLENGTH

      Para ajudar dar um feedback ao usuário o Angular associa os campos e ao form
      as classes ng-valid | ng-invalid, ng-pristine | ng-dirty, ng-touched | ng-untouched
    -->

    <form [formGroup]="orderForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Seus dados:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-container
            errorMessage="Nome obrigatório e com 5 caracteres"
            label="Nome"
          >
            <input
              class="form-control"
              type="text"
              formControlName="name"
              required
              minlength="5"
              autocomplete="off"
              placeholder="Nome"
            />
          </mt-input-container>
        </div>

        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="E-mail inválido" label="E-mail">
            <input
              class="form-control"
              type="text"
              formControlName="email"
              required
              autocomplete="off"
              placeholder="E-mail"
            />
          </mt-input-container>
        </div>

        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="E-mail inválido" label="E-mail">
            <input
              class="form-control"
              type="text"
              formControlName="emailConfirmation"
              autocomplete="off"
              placeholder="Confirmação de e-mail"
            />
          </mt-input-container>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-container
            errorMessage="Endereço obrigatório e com 5 caracteres"
            label="Endereço"
          >
            <input
              class="form-control"
              type="text"
              formControlName="address"
              required
              minlength="5"
              autocomplete="off"
              placeholder="Endereço"
            />
          </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-container
            errorMessage="Obrigatório somente números"
            label="Número"
          >
            <input
              class="form-control"
              type="text"
              formControlName="number"
              required
              minlength="1"
              autocomplete="off"
              placeholder="Número"
              pattern="^[0-9]*$"
            />
          </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-container>
            <input
              class="form-control"
              type="text"
              placeholder="Complemento"
              formControlName="optionalAddress"
              autocomplete="off"
            />
          </mt-input-container>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>

        <!-- ITEMS DO PEDIDO DE COMPRA -->
        <mt-order-items
          [items]="cartItems()"
          (increaseQty)="increaseQty($event)"
          (decreaseQty)="decreaseQty($event)"
          (remove)="remove($event)"
        ></mt-order-items>

        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <!-- FORMAS DE PAGAMENTO -->
            <!-- Sempre precisamos do atributo name quando utilizamos ngModel -->
            <mt-radio
              [options]="paymentOptions"
              formControlName="paymentOption"
              required
            ></mt-radio>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>
          <mt-delivery-costs
            [delivery]="delivery"
            [itemsValue]="itemsValue()"
          ></mt-delivery-costs>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="row">
      <div class="col-xs-12">
        <button
          (click)="checkoutOrder(orderForm.value)"
          class="btn btn-success pull-right"
          [disabled]="!orderForm.valid || cartItems().length === 0"
        >
          <i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>
  </section>
</section>
<!-- FIM DO CONTEUDO-->
